body {
	text-align: center;
	font-family: sans-serif;
	font-size: 3em;
}
.animated {
	animation: timer linear 10s;
	-webkit-animation: timer linear 10s;
}
.pointer {
	position: absolute;
	background-color: green;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	left: 45%;
	top: 2%;
}
.comecar, .new {
	margin-top: 10%;
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 0.5em;
	width: 100%;
	border-radius: 10%;
}
.timer img {
	width: 20%;
}
.buttons {
	width: 20%;
	padding-top: 3%;
	display: inline-table;
}
.buttons img {
	float: left;
	width: 44%;
	padding: 0 6% 0 0;
}
.indo {
	display: none;
}
@media (max-width: 850px) {
	.timer img, .buttons {
		width: 30%;
	}
}
@media (max-width: 770px) {
	.timer img, .buttons {
		width: 40%;
	}
}
@media (max-width: 550px) {
	.timer img, .buttons {
		width: 60%;
	}
}